<h3>RFID Tags in Schools</h3>

<h2> Ethics </h2>
<p>We discuss the ethical dilemma in this paragraph </p>

<h2> Laws </h2>
<p>Testing if this paragraph is in a different section</p>

<p>Maybe have hyperlinks here (the current website has an about page) but anything more we' have to install ourselves </p>

