<% content_for :title do %>Legal<% end %>
<h1>Legal Considerations</h1>
	<h3>Federal Laws</h3>
	<ul>
	<li style="padding-bottom:0pt"><b>NONE.</b> However, there are laws like the Family Eduational Rights and Privacy Act (FERPA)<a href="http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html"><sup>[6]</sup></a> which discuss the general rights of students and families in regards to information stored by schools. Under this law, if student location information were to be considered part of student &quot;education records&quot; (which it likely should be), then students would at least have legal right to access their tracking information and petition to have it witheld from external distribution.</li>
	</ul>
	<h3>State Laws</h3>
	<ul>
	<li><b><a href="http://law.justia.com/codes/missouri/2014/title-xi/chapter-167/section-167.168">Missouri</a>:</b> &quot;No school district shall require a student to use an identification device that uses radio frequency identification technology, or similar technology, to identify the student, transmit information regarding the student, or monitor or track the location of the student.&quot;</li>
	
	<li><b><a href="http://www.gencourt.state.nh.us/rsa/html/XV/189/189-68.htm">New Hampshire</a>:</b> No student tracking can be done &quot;without approval of the school board, after a public hearing, and without the written consent of a parent of legal guardian of an affected student which may be withheld without consequence.&quot;</li>
	
	<li><b><a href="http://webserver.rilin.state.ri.us/Statutes/TITLE42/42-153/42-153-1.HTM">Rhode Island</a>:</b> &quot;Except where required by federal law, no state or municipal agency, or any subdivision thereof, shall use, or request the use of Radio Frequency Identification Devices (RFID) for the purpose of tracking the movement or identity of any student on school grounds, at school functions, or while being transported to or from school grounds or school functions.&quot; However, there is an exception for special need children when &quot;It is determined that there is not less restrictive alternative available to monitor the students movement.&quot;(<a href="http://law.justia.com/codes/rhode-island/2013/title-42/chapter-42-153/section-42-153-3">Read More.</a>)</li>

	<li><b><a href="http://www.oregonlaws.org/ors/339.890">Oregon</a>:</b> Monitoring with RFID tags is specifically permitted, with The State Board of Education acting as the regulatory body</li>
	</ul>

	<h3>Analysis</h3>
	<p>The usage of RFID in schools is largely unregulated. At the federal level, there are neither laws nor Department of Education guidelines to control implementation of tracking policies.  State laws are a bit of a hodgepodge. Missouri has outright banned school tracking programs, while Rhode Island bans them except for use in tracking children with special needs who commonly wander away from the school. Oregon has specifically permitted them, with the state board of education being the regulatory body, and New Hampshire allows use after approval has been granted by the school board, a public hearing, and individual written consent from parents. We can see that, as expected, there are a variety of differing opinions nationwide about the legality of monitoring student locations. In determining our policy, it was important to examine the current policies of federal and state governments to be sure we were considering as many different angles as possible.</p>
