<h1>Our Policy Recommendation</h1>
	
<p>We recognize that there is extrordinary value in being able to better maintain the security of school children nationwide, but we also recognize that students deserve a baseline level of privacy that does not include continous tracking. In order to find a balance between these two opposing forces, we recommend that schools implement an RFID tag system which students are able to turn on and off at will. This would allow the tracking abilities to be used for attendance and in emergencies, but would prohibit the constant tracking of students throughout the day as to maintain their privacy.</p>
