<% content_for :title do %>Sources<% end %>
	<h1>Sources</h1>
	<ol>
		<li>
			<a href="http://www.rfidjournal.com/articles/view?1339" >http://www.rfidjournal.com/articles/view?1339</a>
		</li>
		<p class="source-text">This website provides good background information about passive RFID technology and some of its traditional uses. It will be a good source to link to for anyone who needs an introduction from the ground up.</p>
		<li>
			<a href="http://blog.atlasrfidstore.com/active-rfid-vs-passive-rfid" >http://blog.atlasrfidstore.com/active-rfid-vs-passive-rfid</a>
		</li>
		<p class="source-text">This article explains the difference active and passive RFID tag technology. This source will help to establish the limits we propose for the use of RFID technology. Again, helpful background information.</p>
		<li>
			<a href="http://www.slate.com/blogs/future_tense/2012/10/11/rfid_tracking_texas_schools_force_kids_to_wear_electronic_chips.html" >http://www.slate.com/blogs/future_tense/2012/10/11/rfid_tracking_texas_schools_force_kids_to_wear_electronic_chips.html</a>
		</li>
		<p class="source-text">This article gives an overview of the Texan scheme for using RFID tags to monitor student attendance and location. More specifically, it provides information about the schools&#039; rationale for the system and why some students were opposed to the system, giving a basis for the key issues surrounding the system.</p>
		<li>
			<a href="https://www.rutherford.org/files_images/general/01-08-2013_Hernandez_Ruling.pdf" >https://www.rutherford.org/files_images/general/01-08-2013_Hernandez_Ruling.pdf</a>
		</li>
		<p class="source-text">This document is the court record from an attempted injunction filed against the Texan program on religious freedom grounds. It contains details of the district’s argument for the programs and some examples of its use. It also shows how religious freedom arguments against the program proceed, what the standard response would be, and how the court would rule.</p>
		<li>
			<a href="http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html" >http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html</a>
		</li>
		<p class="source-text">This document explains the specifics of the Family Educational Rights and Privacy Act (FERPA) which is the current federal standard for protecting students rights/privacy from schools.</p>
		<li>
			<a href="https://chooseprivacyweek.org/when-ferpa-fails-to-make-the-grade-states-ratchet-up-student-privacy-laws/" >https://chooseprivacyweek.org/when-ferpa-fails-to-make-the-grade-states-ratchet-up-student-privacy-laws/</a>
		</li>
		<p class="source-text">This page (a guest article on the ALA&#039;s website) discusses RFID in the context of FERPA, and notes several Texan bills introduced in 2013 to curtail or ban the use of RFID in schools. All of these bills stalled, but their wording or any discussion surrounding them provide useful information on the policy side.</p>
		
		<li>
			<a href="https://www.brennancenter.org/blog/student-location-tracking-has-troubling-implications" >https://www.brennancenter.org/blog/student-location-tracking-has-troubling-implications</a>
		</li>
		<p class="source-text">This article discusses many of the concerns associated with tracking student locations including students becoming desensitized to losing their privacy, how the data would be stored, and who would have access to it. As such, this source gave us a solid basis for concerns to consider when determining a policy for RFID technology in schools.</p>
		<li>
			<a href="http://www.spychips.com/school/RFIDSchoolPositionPaper.pdf" >http://www.spychips.com/school/RFIDSchoolPositionPaper.pdf</a>
		</li>
		<p class="source-text">This position paper from a group called chip free schools lists many arguments against the usage of RFID in schools. It also proposes minimum regulatory guidelines for schools that do implement these systems.</p>
		<li>
			<a href="http://www.law.harvard.edu/students/orgs/crcl/vol41_1/hildner.pdf" >http://www.law.harvard.edu/students/orgs/crcl/vol41_1/hildner.pdf</a>
		</li>
		<p class="source-text">This is a law review about RFID chips in for a general overview of national laws. Of specific interest, it mentions that no national law exists for RFID chips.</p>
	</ol>
